<div class="col-sm-2 my-3 shadow-sm mx-3 p-2 rounded">
  <% if (book.coverImg) { %>
  <div class="wrapper">
    <img class="card-img-top" src="/<%- book.coverImg %> " alt="bookCover" />
  </div>
  <% } else{ %>
  <div class="wrapper">
    <img
      class="card-img-top"
      alt="bookCover"
      src="https://dummyimage.com/600x400/dbdbdb/fff.jpg&text=No+image"
    />
  </div>

  <% } %>
  <div class="card border-0">
    <div class="card-body">
      <h5 class="card-title"><%- book.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%- book.type %></h6>
      <p class="card-text"><%- book.price %></p>
      <a href="/book/<%- book._id %> " class="btn btn-primary btn-sm">Detail</a>
    </div>
  </div>
</div>
